@font-face {
    font-family: jawapalsu;
    src: url(JAWAPALSU.ttf);
 }

 p {
    font-size: 30pt;
 }

 h2 {
    font-family: jawapalsu;
    color: darkgoldenrod;
    font-size: 50pt;
}

h2.white {
    font-family: jawapalsu;
    color: whitesmoke;
}

.jawa-style {
    font-family: jawapalsu;
    color: darkgoldenrod;
}

.jawa-style-white {
    font-family: jawapalsu;
    color: whitesmoke;
    font-size: 70pt;
}

title {
    font-family: jawapalsu;
    color: darkgoldenrod;
}

.image_wrapper {
    position: relative;
  }

  .overlay_2 {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  

  #collapse {   
    /* (A3) CSS TRANSITION */
    transition: all 0.5s;
    color: white;
  }
  
  /* (B) HIDE */
  #collapse.hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
    margin: 20pt;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



  footer {
  position: relative;
  height: 200px; /* Adjust the height as needed */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay img {
  width: 100%;
  height: auto;
  object-fit: cover;
}



.text-container {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .top {
    top: 0;
  }
  
  .bottom {
    bottom: 0;
  }
  
  .text {
    color: white;
    font-size: 24px; /* Adjust the font size as needed */
    text-align: center;
  }

  .btn-hadiah{
    margin-top: 10px;
    background-color: #808588;
    border-radius: 20px;
    padding: 15pt;
    color: white;
    font-size: 25pt;
}



.btn-invitattion{
  margin-top: 10px;
  background-color: #808588;
  border-radius: 20px;
  padding: 15pt;
  color: white;
  font-size: 25pt;
  border-radius: 5%;
}

  
  